<div class="container">
  <h2>Register</h2>

  <form class="register-form" (submit)="register()" [formGroup]="registerForm">

    <label>Email</label>
    <fieldset class="form-group">
      <input type="email" class="form-control {{registerForm.get('email')?.invalid ? 'is-invalid' : 'is-valid'}}"  formControlName="email" placeholder="alice@example.com">
      <small class="invalid-feedback" *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)">
        <small *ngIf="registerForm.get('email')?.errors?.['required']">
          Email is required.
        </small>
        <small *ngIf="registerForm.get('email')?.errors?.['email']">
          This has to be email
        </small>
      </small>
    </fieldset>

    <label>Name</label>
    <fieldset class="form-group">
      <input type="text" class="form-control {{registerForm.get('name')?.invalid ? 'is-invalid' : 'is-valid'}}" formControlName="name" placeholder="Alice">
      <small class="invalid-feedback" *ngIf="registerForm.get('name')?.invalid && (registerForm.get('name')?.dirty || registerForm.get('name')?.touched)">
        <small *ngIf="registerForm.get('name')?.errors?.['required']">
          Name is required.
        </small>
      </small>
    </fieldset>

    <label>Surname</label>
    <fieldset class="form-group">
      <input type="text" class="form-control {{registerForm.get('surname')?.invalid ? 'is-invalid' : 'is-valid'}}" formControlName="surname" placeholder="Ryzen">
      <small class="invalid-feedback" *ngIf="registerForm.get('surname')?.invalid && (registerForm.get('surname')?.dirty || registerForm.get('surname')?.touched)">
        <small *ngIf="registerForm.get('surname')?.errors?.['required']">
          Surname is required.
        </small>
      </small>
    </fieldset>

    <label>OIB</label>
    <fieldset class="form-group">
      <input type="number" class="form-control {{registerForm.get('oib')?.invalid ? 'is-invalid' : 'is-valid'}}" formControlName="oib" placeholder="OIB" minlength="10" maxlength="10">
      <small class="invalid-feedback" *ngIf="registerForm.get('oib')?.invalid && (registerForm.get('oib')?.dirty || registerForm.get('oib')?.touched)">
        <small *ngIf="registerForm.get('oib')?.errors?.['required']">
          OIB is required.
        </small>
        <small *ngIf="registerForm.get('oib')?.errors?.['min']">
          OIB has to be 11 characters long
        </small>
        <small *ngIf="registerForm.get('oib')?.errors?.['max']">
          OIB has to be 11 characters long
        </small>
      </small>
    </fieldset>

    <label>Password</label>
    <fieldset class="form-group">
      <input type="password" class="form-control {{registerForm.get('password')?.invalid ? 'is-invalid' : 'is-valid'}}" formControlName="password" placeholder="Password">
      <small class="invalid-feedback" *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)">
        <small *ngIf="registerForm.get('password')?.errors?.['required']">
          Password is required.
        </small>
        <small *ngIf="registerForm.get('password')?.errors?.['minlength']">
          Password needs to be at least 8 characters long.
        </small>
      </small>
    </fieldset>

    <label>Repeat password</label>
    <fieldset class="form-group">
      <input type="password" class="form-control {{registerForm.get('password-repeat')?.invalid || registerForm.get('password')?.value != registerForm.get('password-repeat')?.value ? 'is-invalid' : 'is-valid'}}" formControlName="password-repeat" placeholder="Repeat password">
      <small class="invalid-feedback" *ngIf="registerForm.get('password-repeat')?.invalid && (registerForm.get('password-repeat')?.dirty || registerForm.get('password-repeat')?.touched)">
        <small *ngIf="registerForm.get('password-repeat')?.errors?.['required']">
          You need to repeat password
        </small>
      </small>
    </fieldset>

    <button type="submit" [disabled]="registerForm.invalid" class="btn btn-success m-1">Register!</button>
  </form>
</div>
